node_modules
.git
.gitignore
bp/scripts
packages/addon
packages/generator
packages/addon/dist
packages/generator/dist
packages/server/dist
packages/server/data
midis/files
midis/js
tools/piano_source
*.log
