build
cache
node_modules
/scripts
output.zip
bp/scripts
packages/*/bp/scripts
midis/files/*
midis/js/*
tools/piano_source/*
packages/*/dist
packages/*/data
packages/generator/public/library
.env
*.mid
*.mcaddon